.chart-container {
  width: 100%;
  height: 328px;
  background-color: transparent;
}
.recharts-yAxis {
  .recharts-cartesian-axis-line {
    visibility: hidden;
  }
  .recharts-cartesian-axis-tick-line {
    visibility: hidden;
  }
}

.recharts-cartesian-grid-horizontal * {
  stroke: var(--s-color-border-default);
}

.recharts-cartesian-axis-line {
  stroke: var(--s-color-content-default);
}

.recharts-cartesian-axis-tick-line {
  stroke: var(--s-color-content-default);
}
