.dinheiro {
  font: var(--s-typography-heading-x-large);
  color: var(--s-color-content-default);
}

.porcentagem {
  color: var(--s-color-content-success);
  font: var(--s-typography-paragraph-regular);
}

.title-home-page {
  font: var(--s-typography-heading-small);
  color: var(--s-color-content-default);
}
