.dinheiro {
  font: var(--s-typography-heading-large);
  color: var(--s-color-content-default);
}

.saldo-total {
  display: flex;
  font: var(--s-typography-paragraph-regular);
  color: var(--s-color-content-default);
}

.porcentagem-ganhos {
  display: inline-block;
  align-items: center;

  strong {
    padding-left: var(--s-spacing-nano);
    line-height: var(--s-line-height-24);
    vertical-align: top;
    display: inline;
    align-items: center;
  }

  &.positivo {
    color: var(--s-color-content-success);
  }

  &.negativo {
    color: var(--s-color-content-warning);
  }

  &.neutral {
    color: var(--s-color-content-light);
  }
}

.porcentagem-despesas {
  display: inline-block;
  align-items: center;

  strong {
    padding-left: var(--s-spacing-nano);
    line-height: var(--s-line-height-24);
    vertical-align: top;
    display: inline;
    align-items: center;
  }

  &.positivo {
    color: var(--s-color-content-success);
  }

  &.negativo {
    color: var(--s-color-content-warning);
  }

  &.neutral {
    color: var(--s-color-content-light);
  }
}

.title-home-page {
  font: var(--s-typography-heading-small);
  color: var(--s-color-content-default);
}

.card-footer {
  div {
    width: fit-content;
  }
}

@media screen and (max-width: 1440px) {
  .layout-page {
    .layout-resumo {
      flex-direction: column;
      width: 100%;
    }
  }
}

@media screen and (max-width: 490px) {
  .card-footer {
    div {
      flex-direction: column;
      width: 100%;
    }
  }
}
