.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--s-color-fill-highlight-light);
  overflow: hidden;
}

.oscillating-image {
  width: 100px;
}
