.actions {
  display: flex;
  align-items: center;

  .button {
    width: min-content;
  }

  .button-icon.warning.sm.default {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
}
